<!-- Landing Page header -->
<app-landing-header></app-landing-header>
<!-- row 2 content-->
<section class="features-icons bg-light text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="icon-layers m-auto text-primary"></i>
          </div>
          <h3>column 1</h3>
          <p class="lead mb-0">Find the house just right for you!</p>
        </div>
        <button routerLink="/apts-list" class="btn btn-success">View house list</button>
      </div>
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class=""></i>
          </div>
          <h3>column 2</h3>
          <p class="lead mb-0">something cool right here</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class=""></i>
          </div>
          <h3>column 3</h3>
          <p class="lead mb-0">something also cool</p>
        </div>
      </div>
    </div>
  </div>
</section>
