header.bg-img {
  position: relative;
  /*background-color: #343a40;*/
  background-image: url('../../assets/landing-page/city.jpg');
  background-size: cover;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.features-icons {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

