<header class="bg-img text-white text-center">
<div class="overlay"></div>
    <div class="container">
    <div class="col-xl-9 mx-auto">
          <h1 class="mb-5">Create search here</h1>
    </div>
    <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
          <form>
            <div class="form-row">
              <div class="col-12 col-md-9 mb-2 mb-md-0">
                <input type="email" class="form-control form-control-lg" placeholder="search...">
              </div>
              <div class="col-12 col-md-3">
                <button type="button" class="btn btn-block btn-lg btn-primary"><i class="fa fa-search" aria-hidden="true"></i> </button>
              </div>
            </div>
          </form>
        </div>
</div>
</header>
<section class="text-center">
  <div class="container">
   <div class="row">
    <div class="col-lg-4" *ngFor="let apt of apartments">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="icon-layers m-auto text-primary"></i>
          </div>
          <h3>column 1</h3>
          <p class="lead mb-0">This theme will look great on any device, no matter the size!</p>
          <button class="btn btn-success" (click)="onClickApartment()">View house</button>
        </div>
      </div>
    </div>
  </div>
</section>

